/* .projects-one__content {
    top: auto;
    bottom: 25px;
    left: 30px;
    right: auto;
    width: 360px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 45px 40px;
    border-radius: 5px;
    background-color: #159369;
} */

.testimonial{
    background-color: #1f4e3d;
    position: relative;
    padding-top: 140px;
    padding-bottom: 140px;
}